<h1>New Post</h1>
<br>
<form id="submit-post">
 <label for="post_title">Post Title</label><br>
  <input type="text" name="post[title]" id="post_title" value=''><br><br>

 <label for="post_title">Post Body</label><br>
  <textarea rows="15" cols="55" name="post[body]" for="submit-post" id="post_body" value=''></textarea>

  <button type="submit" id="edit_post">New Post</button>
</form>