<h1>New Post</h1>
<br>
<form>
  <input type="text" name="post[title]" id="post_title" value=''>
  <label for="post_title">Post Title</label><br>

  <input type="text-area" name="post[body]" id="post_body" value=''>
  <label for="post_title">Post Body</label><br>

  <button type="submit" id="edit_post">New Post</button>
</form>