<% if (post == undefined) { postTitle = "" ; button = "New Post"} else { postTitle = post.get("title");postBody = post.get("body"); button = "Edit Post"} %>

<h1>Edit Post</h1>
<br>
<form id="submit-post">
 <label for="post_title">Post Title</label><br>
  <input type="text" name="post[title]" id="post_title" value='<%=postTitle%>'><br><br>

 <label for="post_title">Post Body</label><br>
  <textarea rows="15" cols="55" name="post[body]" for="submit-post" id="post_body" value='<%=postBody%>'><%= post.get("body") %></textarea><br>

  <button type="submit" id="edit_post">Update Post</button>
</form>



