<h1>Showing one Post </h1>
<h3>Title: </h3>
<p><%= post.get("title") %></p>
<h3>Post: </h3>
<%= post.get("body") %>
<br><br><br>
<a href="#/">Back to index</a>
<a href="#/posts/edit/<%= post.get("id")%>" id="edit_post">Edit Post</a>
<button type="submit" id="delete-btn">Delete Post</button>